@import "variable";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

// css RESET
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: $fontFamily;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background: white;
  line-height: 1;
  color: black;
}
ol,
ul {
  list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}



// .App{
//   width: 90%;
//   max-width: 1600px;
//   margin: 0 auto;
// }

a{
  text-decoration: none;
  text-transform: uppercase;
}



.btn{
  // padding: 0.5rem 1.5rem;
  padding: 0.8rem 1rem;

  border: 3px solid #EFEFEF;
  border-radius: 5px;

  font-family: $fontFamily;
  font-weight: $bold;

  color: $veryDarkBlue;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,.15);

  transition: all 0.5s ease;

  &:hover{
    cursor: pointer;
    color: $veryDarkBlue;
    background-color: transparent;
    border: 3px solid $veryDarkBlue;
  }

  &--softRed{
    color: $white;
    background-color: $softRed;
    box-shadow: 0 3px 2px 0 rgba(248, 235, 235, 0.918);
    border: 3px solid $softRed;


    &:hover{
      color: $softRed;
      border: 3px solid $softRed;
    }
  
    &--capitalize{
      text-transform: uppercase;
    }
  }

  &--softBlue{
    color: $veryDarkBlue;
    background-color: $softBlue;
    border: 3px solid $softBlue;

    &:hover{
      color: $softBlue;
      border: 3px solid $softBlue;
    }
  }
}

// .rounded{
//   @include rounded;
// }

.rounded--right{
  bottom: 10rem;
  left: -8rem;

    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
}

