@import "variable";

.extension{
    @include Flexing;
    h1{
        @include h1;
    }
    p{
        @include paragraph;
    }
    h2{
        @include h2;
    }

    &__main__card{
        box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 3rem 0;
        padding: 1rem 0 ;

        & img {
            padding: 2rem 0;
        }

        & h1 , p {
            line-height: 0;
        }

        & svg {
            margin: 1rem 0;
        }
        & button{
            margin: 0.5rem 0;
            padding: 1rem 2rem;
            font-size: 1rem;
        }
    }
}