@import "variable";

.Faq{
    margin: 10rem auto;

    &__head{
        @include Flexing;
        h1{
            @include h1;
            @include h2;
        }
        p{
            @include paragraph;
        }
    }

    &__main{
        &__faqCard{
            .faqCard__question{
                display: flex;
                justify-content: space-between;
                align-items: center;
                    p{
                        @include h1;
                        font-size: 1.3rem;
                    }
    
                    button{
                        background: transparent;
                        color: $softBlue;
                        font-weight: 500;
                        border: none;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }

                    @include tablet{
                        padding: 1rem 0;
                    }
                }
    
                .faqCard__answer{
                    p{
                        @include paragraph;
                    }
            }
    
            border-bottom: 1px solid #f1f1f1 ;
            padding: 0.5rem;
        }

        .showMore{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
        }
    }
}

