@import "variable";

.features{

    @include Flexing;
    margin: 10rem 0;

    &__about {
        h1{
            @include heading;
        }
        p{
            margin: 1rem 0;
            @include paragraph;
        }
    }

    &__main{
        &__theFeature{

            
            display: flex;
            flex-direction: column;
            text-align: center;

            & p{
                text-transform: capitalize;
                line-height: 3;
                color: $veryDarkBlue;
                border-top: 2px solid $grayishBlue;
                font-weight: $bold;
                cursor: pointer;

                &:hover{
                    border-bottom: 4px solid $softRed;
                }

                &:nth-child(3){
                    border-bottom: 2px solid $grayishBlue;
                }

            }
        }

&__details{

    &__img {

        height: 25rem;
        svg{
            width: 20rem;
            height: 20rem;
        }
    }

    &__about{

        h1{
            @include heading;
        }
        p{
            @include paragraph;
            margin-bottom: 1rem
        }
    }   
}

    
    }


}


.features__main__details__img__rounded{
    @include rounded;
}