@import "variable";

.Footer {
  padding: 2rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $softBlue;

  &__Primary {
    p {
      @include paragraph;
      color: $white;
    }

    h1 {
      @include h2;
      color: $white;
    }

    form{

      .input {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 1rem 0;
        .errorMessage {
          margin: 0;
          position: relative;
          top: -0.1rem;
          background-color: $softRed;
          font-style: italic;
          font-size: 0.6rem;
          text-align: left;
          padding: 0 0.5rem;
        }
      }
  
      .error {
        border: 3px solid $softRed;
      }
  
      input {
        padding: 0.8rem 1rem;
        border: 3px solid #efefef;
        border-radius: 5px;
        font-family: $fontFamily;
        font-weight: $bold;
  
        &:focus {
          border: 3px solid $softRed;
        }
      }
  
      button {
        display: block;
        width: 100%;
      }
  
      .btn {
        box-shadow: none;
        &:hover {
          background-color: $white;
        }
      }

      @include tablet{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .input{
          margin: 3rem 0;
          .errorMessage {
            position: relative;
            padding: 0 1.17rem;
            width: 100%;
          }
        }

        input {
          width: 100%;
        }
      }
    }


  }

  &__Links {
    background-color: $veryDarkBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;

      .nav__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
          color: $white;

          &:hover {
            @include hover;
          }
        }
      }

      .nav__icons {
        display: flex;
        gap: 2rem;
      }

      @include tablet{
        flex-direction: row;
        justify-content: space-between;
        .nav__links{
          flex-direction: row;
        }
      }
    }
  }
