@import "variable";

.Home {
    header {
        display: flex;
        justify-content: space-between;

        padding-top: 2rem;

        nav {
            display: flex;
            align-items: center;

            ul {
            display: none;

                a {
                    color: $veryDarkBlue;

                    &:hover{
                        color: $softRed;
                    }
                }

                @media (min-width: 800px) {
                display: flex;
                justify-content: space-between;

                gap: 4rem;
                margin-right: 4rem;
                }
            }
        }
    }

    section {
        display: flex;
        flex-direction: column-reverse;
    }




    .about {
        @include Flexing;

        gap: 1rem;
        h1{
            @include h1;
        }
        p{
            @include paragraph
        }
        &__cta {
            display: flex;
            gap: 1rem;
        }
    }
        .bookmarkBanner {
            height: 20rem;
            // overflow: hidden;

            svg {
                width: 20rem;
                height: 20rem;
            }

            .rounded {
                @include rounded;
            }
        }
}
